<ion-view view-title="个人中心">
  <ion-content>
    <h1>个人中心</h1>
    <ion-list>
      <ion-item  class="item-avatar">
        <img src="img/turboemily.jpg" alt="">
        <h2>土拨爱美丽</h2>
        <!--<p ng-bind="getSearch.description"></p>-->
        <p>be yourself</p>
      </ion-item>
      <ion-list>
        <ion-item>
          <p>我的订单</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <p>我的收藏</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <p>我的聚会</p>
        </ion-item>
      </ion-list>

      <!--<p>1111111</p>-->
    </ion-list>
  </ion-content>
</ion-view>
