<ion-view view-title="设置">
  <ion-content>
    <h1>设置</h1>
    <!--<ion-tabs class="tabs-icon-top">-->
    <!--<ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#menu/index">-->
    <!--&lt;!&ndash;//绑定 要在导航视图中 显示的模板(视图)&ndash;&gt;-->
    <!--<ion-nav-view name="tab-index"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--<ion-tab title="附近" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#menu/nearby">-->
    <!--&lt;!&ndash;<ion-nav-view name="tab-nearby"></ion-nav-view>&ndash;&gt;-->
    <!--</ion-tab>-->
    <!--<ion-tab title="精选" icon-off="ion-social-reddit-outline" icon-on="ion-social-reddit" href="#menu/well-chosen">-->
    <!--<ion-nav-view name="tab-chosen"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--<ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#menu/self">-->
    <!--<ion-nav-view name="tab-self"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--</ion-tabs>-->
  </ion-content>
</ion-view>


