<ion-view view-title="精选">
  <ion-content>
    <img src="http://e.hiphotos.baidu.com/nuomi/pic/item/6f061d950a7b0208c3666f5767d9f2d3562cc8dd.jpg" alt="">
    <h2 ng-bind="shop.shop_name"></h2>
    <p ng-bind="shop.address"></p>
    <p ng-bind="shop.shop_url"></p>
    <p ng-bind="shop.open_time"></p>
    <p ng-bind="shop.phone"></p>
    <p ng-bind="shop.featured_menus"></p>
    <p ng-bind="shop.featured_service"></p>
    <p ng-bind="shop.introduction"></p>
    <!--<img src="src='{{shop.photo[1]['photo_details'][0]['url']}}' >-->
  </ion-content>
</ion-view>
